.container {
  background-image: url("../../assets/LandingPagePoke.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #572c9b;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 2rem;
}

.button:hover {
  background-color: #fff;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
}
