.navContainer {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between; /* Distribuir elementos horizontalmente */
  align-items: center; /* Centrar verticalmente los elementos */
  padding: 10px; /* Agregar un poco de espacio alrededor del contenido */
}

.logo {
  width: 50px;
  cursor: pointer;
}

.createPokemon {
  background-color: #f09e23;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: Montserrat;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Centrar contenido verticalmente */
}

.createPokemon:hover {
  background-color: #be9655;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 400px) {
  .navContainer {
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: flex-start; /* Alinear elementos a la izquierda */
    padding: 0 10px;
  }

  @media (max-width: 400px) {
    .logo {
      margin-top: 15px;
      margin-left: 160px;
    }
  }
  @media (max-width: 400px) {
    .createPokemon {
      margin-top: 10px;
      margin-bottom: 10px;
      flex-grow: 0;
      margin-left: 80px;
      width: 79%;
      padding: 10px;
    }
  }
}
