.navContainer {
  background-color: blueviolet;
  display: flex;
}

.logo {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 6px;
  width: 50px; /* ajustar al tamaño deseado */
}

.createPokemon {
  background-color: #f09e23;
  color: #fff;
  font-size: 16px;
  margin-right: 6px;
  border-radius: 10px;
  padding: 12px 20px;
  margin-left: 10px;
  margin-top: 22px; /* Ajusta el valor según sea necesario */
  margin-bottom: 10px; /* Ajusta el valor según sea necesario */
  cursor: pointer;
  font-family: Montserrat;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.createPokemon:hover {
  background-color: #be9655;
}
